/* Dark color scheme */
@define-color theme_base_color #272C30;
@define-color theme_bg_color #3D454C;
@define-color theme_selected_bg_color #2468A0;
@define-color theme_text_color #E4E9ED;
@define-color theme_fg_color @theme_text_color;
@define-color theme_selected_fg_color #ffffff;

@define-color lighter_selected_bg #4387BF;

@define-color placeholder_text_color shade(@toolbar_entry_bottom, 1.4);

@define-color menu_bg_color shade(@theme_base_color, 0.95);
@define-color menu_fg_color @theme_fg_color;

@define-color menu_controls_color shade(@theme_fg_color, 0.9);

/*@define-color menu_combobox_border @theme_selected_bg_color;*/
@define-color menu_separator shade(@menu_bg_color, 0.9);

/*@define-color inactive_frame_color #cccccc;*/

@define-color sidebar_bg shade(@theme_bg_color, 1.0);

/*@define-color sidebar_scrollbar_trough shade(@sidebar_bg, 0.8);*/

/*@define-color button_gradient_color_a shade(@theme_bg_color, 1.05);
@define-color button_gradient_color_b @theme_bg_color;
@define-color button_gradient_color_c shade(@theme_bg_color, 0.92);*/
@define-color borders shade(@theme_base_color, 0.7);

@define-color button_bg_top #262B2F;
@define-color button_bg_bottom #1D2124;

/*@define-color button_active_gradient_color_a #a2a9a2;
@define-color button_active_gradient_color_b shade (@button_active_gradient_color_a, 0.83);*/
@define-color button_active_text @theme_text_color;
@define-color button_active_text_shadow alpha(black, 0.4);
@define-color button_text_shadow alpha(black, 0.4);

/*@define-color button_hover_gradient_color_a @theme_base_color;
@define-color button_hover_gradient_color_b shade (@button_gradient_color_a, 0.94);*/

@define-color insensitive_bg_color shade(@theme_bg_color, 0.93);
@define-color insensitive_fg_color shade(@theme_fg_color, 0.5);
@define-color insensitive_borders @borders;
/*@define-color insensitive_scale_borders @insensitive_borders;*/

@define-color trough_bg_color_a #bcbcb7;
@define-color trough_bg_color_b #e0e0dd;

@define-color infobar_bg_color #526173;

@define-color scrollbar_trough shade(@theme_bg_color, 0.9); /*Clocks uses this*/
@define-color scrollbar_slider_prelight mix(@scrollbar_trough, @theme_fg_color, 0.5);
@define-color scrollbar_slider_insensitive alpha(black, 0); /* FIXME should be transparent */

/*@define-color scrollbar_trough_insensitive shade(@theme_bg_color, 0.9);*/
/*@define-color scrollbar_slider mix(@scrollbar_trough, @toolbar_bg_color, 0.8);*/
/*@define-color scrollbar_slider_active @theme_selected_bg_color;*/

@define-color scrollbar_color shade(@theme_bg_color, 0.7);
@define-color scrollbar_trough_a @theme_bg_color;
@define-color scrollbar_trough_b @theme_bg_color;

/*@define-color switch_slider_color #eeeeec;
@define-color switch_trough_active_color @theme_base_color;
@define-color switch_trough_active_bg_a shade(@theme_selected_bg_color, 1.2);
@define-color switch_trough_active_bg_b shade(@theme_selected_bg_color, 1.35);*/
@define-color switch_border alpha(@dark_shadow, 0.7);

/*@define-color progressbar_background_a #76b0ec;
@define-color progressbar_background_b #1f72c6;
@define-color progressbar_pattern #2a79cb;
@define-color progressbar_border @progressbar_pattern;*/

@define-color entry_text_color @theme_text_color;
/*@define-color entry_background_a shade(@theme_base_color, 0.94);
@define-color entry_background_b @theme_base_color;*/

@define-color entry_inset alpha(black, 0.1);

@define-color internal_element_color shade(@theme_fg_color, 0.8);
@define-color internal_element_prelight @theme_text_color;
@define-color internal_element_insensitive mix(@internal_element_color, @theme_base_color, 0.5);

/*@define-color scale_trough_bg_a #c0c0bd;
@define-color scale_trough_bg_b #f2f2f0;
@define-color scale_shadow alpha(white, 0.50);
@define-color scale_progress_fill #2c85e2;
@define-color scale_highlight_border #426ea8;
@define-color scale_highlight_bg #729fce;
@define-color scale_highlight_shadow alpha(white, 0.50);*/

@define-color scale_highlight #74828F;
@define-color scale_highlight_bottom shade(#535D66, 1.0);
@define-color scale_highlight_top shade(#535D66, 0.9);

@define-color notebook_active_tab_border @theme_selected_bg_color;
/*@define-color notebook_selected_tab_color #8d8d8d;*/

/*@define-color notebook_tab_gradient_a shade(@theme_bg_color, 0.97);
@define-color notebook_tab_gradient_b shade(@theme_bg_color, 0.85);
@define-color notebook_tab_hilight shade(@theme_bg_color, 1.02);*/

@define-color toolbar_gradient_a shade(@borders, 1.25);
@define-color toolbar_gradient_b shade(@borders, 1.28);
@define-color toolbar_gradient_c shade(@borders, 1.34);

@define-color toolbar_button_top #3B414A;
@define-color toolbar_button_bottom #22262B;
@define-color toolbar_button_highlight #4C545C;

@define-color toolbar_bg_color #20262B;
@define-color toolbar_fg_color #E4E9ED;

@define-color toolbar_entry_top #383D45;
@define-color toolbar_entry_bottom #565C66;

/*@define-color toolbar_active_button_color #909081;*/
@define-color toolbar_button_prelight alpha(white, 0.2);
/*@define-color toolbar_separator @borders;*/
@define-color toolbar_button_border shade(@toolbar_bg_color, 1.4);

@define-color primary_toolbar_button_text_shadow alpha(black, 0.1);

@define-color content_view_bg shade(@theme_bg_color, 0.95);
@define-color list_box_bg shade(@theme_bg_color, 0.8);

@define-color app_notification_a shade(@theme_bg_color, 0.8);
@define-color app_notification_b shade(@theme_bg_color, 0.95);
@define-color app_notification_c @theme_bg_color;

@define-color app_notification_border @borders;

@define-color treeview_focus_border #2a79cb;

@define-color view_separators shade(@borders, 1.15);
@define-color view_symbolic_color shade(@internal_element_color, 0.80);

@define-color expander_row_selected_color #acccee;

@define-color inset_light_color alpha(white, 0.03);
@define-color inset_dark_color alpha(black, 0.2);

@define-color suggested_action_button_a shade(@theme_selected_bg_color, 1.0);
@define-color suggested_action_button_b shade(@theme_selected_bg_color, 0.8);
@define-color suggested_action_button_border #204a87;
@define-color suggested_action_button_fg @theme_selected_fg_color;
@define-color suggested_action_button_shadow shade(@suggested_action_button_border, 1.15);

@define-color floating_bar_bg shade(#3D454C, 0.7);
@define-color dark_sidebar_bg #3D454C;

@define-color menubar_bg_color @toolbar_bg_color;
@define-color menubar_bg_a #15191C;
@define-color menubar_bg_b #1C1F24;
@define-color menubar_fg_color @toolbar_fg_color;

/**************************
 * Selection Mode classes *
 **************************/
@define-color selection_toolbar_suggested_button_a @theme_base_color;
@define-color selection_toolbar_suggested_button_b @theme_bg_color;
@define-color selection_toolbar_suggested_button_c #f3f4f3;

/**************
 * GNOME Apps *
 **************/
@define-color entry_tag_bg #3465a4;
@define-color entry_tag_fg @theme_base_color;

/******
 * WM *
 ******/
@define-color wm_bg @toolbar_bg_color;
@define-color wm_title_focused @toolbar_fg_color;
@define-color wm_title_unfocused alpha(@toolbar_fg_color, 0.3);
@define-color wm_border_focused shade(@toolbar_bg_color, 0.6);
@define-color wm_border_unfocused shade(@toolbar_bg_color, 0.6);

@define-color wm_title_shadow black;
@define-color wm_shadow alpha(black, 0.7);

@import url("gtk-main-common.css");
@import url("gtk-widgets-backgrounds.css");
@import url("gtk-widgets-borders-dark.css");
@import url("gtk-widgets.css");
@import url("gtk-widgets-assets-dark.css");
@import url("gtk-widgets-dark-overrides.css");
@import url("gnome-applications.css");
@import url("gnome-applications-dark-overrides.css");
@import url("unity.css");
@import url("tabs-dark.css");
@import url("window-controls.css");
